nav {
    padding: 0 8px;
    margin-top: 15px;
    margin-right: 35px;
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 72px;
    height: 72px;
    top: 4px;
    left: 91px;
}
.sdd{
    font-family: "Poppins",sans-serif;
    height:50px;
    font-weight: 800;
    
    margin-left: 480px;
}
.text{
    margin-left: 480px;
    padding-top: 20px;
    color: gray;
}
.navi{
    display: flex;
   
}
.navi li{
    margin: 10px;
    font-weight: 500;
    list-style-type: none;
}